{% extends 'base_url.html' %}
{% block mysiswa_form %}
<div class="main-panel">
			<div class="content">
				<div class="page-inner">
					<div class="page-header">
						<h4 class="page-title">Profile</h4>
						<ul class="breadcrumbs">
							<li class="nav-home">
								<a href="#">
									<i class="flaticon-home"></i>
								</a>
							</li>
							<li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">Dashboard</a>
							</li>
							<li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">Profileku</a>
							</li>
						</ul>
					</div>


					<div class="row">
						<div class="col-md-6">
						{% if update_status is not None %}
							{% if update_status is True %}
							<div class="alert alert-success" role="alert">
								Edit Data Berhasil
							</div>
							{% else %}
							<div class="alert alert-danger" role="alert">
								Edit Data Gagal
							</div>
							{% endif %}
						{% endif %}
							<div class="card">
								<div class="card-header">
									<div class="card-title">Rubah Data Siswa</div>
								</div>

								<form method="post" action="" class="card-body">
									{% csrf_token %}
                                    <div class="form-group">
										<label for="username">Nama Siswa</label>
										<input type="text" name="nama_siswa" value="" class="form-control" id="username" >
									</div>
									 <div class="form-group">
										<label for="nisn">NISN</label>
										<input type="text" name="nisn" value="" class="form-control" id="nisn" >
									</div>
									 <div class="form-group">
										<label for="nis">NIS</label>
										<input type="text" name="nis" value="" class="form-control" id="nis" >
									</div>
                                    <div class="form-group">
                                        <label for="role">Role</label>
                                        <input type="text" id="role" class="form-control" value="{{ authenticated.role }}" disabled>
                                    </div>
								<div class="card-action">
									<button type="submit" class="btn btn-primary">Submit</button>
									<button class="btn btn-danger">Cancel</button>
								</div>
                                </form>
							</div>
                        </div>
                    </div>
                </div>
            </div>
</div>
{% endblock %}